In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('GDPlist.csv', header=0, encoding= 'ISO-8859-1')
data

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [3]:
# Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [4]:
# Tính giá trị lớn nhất và nhỏ nhất của GDP.
data.nlargest(10, ['GDP (millions of US$)'])

             Country      Continent  GDP (millions of US$)
118    United States  North America               15094025
23             China           Asia                7298147
60             Japan           Asia                5869471
44           Germany         Europe                3577031
41            France         Europe                2776324
15            Brazil  South America                2492908
117   United Kingdom         Europe                2417570
58             Italy         Europe                2198730
93            Russia           Asia                1850401
21            Canada  North America                1736869

In [5]:
data.groupby('GDP (millions of US$)').max().index[0]

10600

In [6]:
data.groupby('GDP (millions of US$)').max().index[-1]

15094025

# Hãy cho biết xu hướng phân bố dữ liệu của GDP.

bộ dữ liệu sẽ tập trung phản ánh giá trị của các quốc gia hiện tại
qua bộ dữ liệu ta đánh giá được sức tăng trưởng và quy mô của các quốc gia

In [7]:
# Hãy cho biết châu lục nào xuất hiện nhiều nhất?
data.loc[:,'Continent'].value_counts()

Europe           37
Asia             36
Africa           29
North America    11
South America     9
Oceania           3
Name: Continent, dtype: int64

In [8]:
#châu lục xuất hiện nhiều nhất là Europe

In [9]:
# Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.
df1 = data.loc[data.Continent == 'Asia']
df1.loc[:,'GDP (millions of US$)'].sum()
df1.loc[:,'GDP (millions of US$)'].mean()

678496.9722222222

In [10]:
df2 = data.loc[data.Continent == 'Europe']
df3 = data.loc[data.Continent == 'Africa']
df4 = data.loc[data.Continent == 'North America']
df5 = data.loc[data.Continent == 'South America']
df6 = data.loc[data.Continent == 'Oceania']

In [11]:
list[data.loc[:,'Continent']]#.value_counts()]

list[0               Asia
1             Europe
2             Africa
3             Africa
4      South America
           ...
120             Asia
121    South America
122             Asia
123           Africa
124           Africa
Name: Continent, Length: 125, dtype: object]

In [34]:
Continent1 = data.loc[:,'Continent'].value_counts()
df_value_counts = pd.DataFrame(Continent1)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['unique_values', 'counts for course_difficulty'] # change column names
df_value_counts

   unique_values  counts for course_difficulty
0         Europe                            37
1           Asia                            36
2         Africa                            29
3  North America                            11
4  South America                             9
5        Oceania                             3

In [39]:
Continent = df_value_counts['unique_values'].tolist()
Continent

['Europe', 'Asia', 'Africa', 'North America', 'South America', 'Oceania']

In [13]:
sumGDP = [df1.loc[:,'GDP (millions of US$)'].sum(),
          df2.loc[:,'GDP (millions of US$)'].sum(),
         df3.loc[:,'GDP (millions of US$)'].sum(),
         df4.loc[:,'GDP (millions of US$)'].sum(),
         df5.loc[:,'GDP (millions of US$)'].sum(),
         df6.loc[:,'GDP (millions of US$)'].sum()]
sumGDP

[24425891, 19139380, 1820811, 18238447, 4141217, 1662727]

In [14]:
MeanGDP = [df1.loc[:,'GDP (millions of US$)'].mean(),
          df2.loc[:,'GDP (millions of US$)'].mean(),
          df3.loc[:,'GDP (millions of US$)'].mean(),
          df4.loc[:,'GDP (millions of US$)'].mean(),
          df5.loc[:,'GDP (millions of US$)'].mean(),
          df6.loc[:,'GDP (millions of US$)'].mean()]
MeanGDP

[678496.9722222222,
 517280.54054054053,
 62786.58620689655,
 1658040.6363636365,
 460135.22222222225,
 554242.3333333334]

In [52]:
ten= ['Continent','Tổng GDP', 'Trung bình cộng GDP']

Data1 = pd.DataFrame(data = [Continent,sumGDP,MeanGDP])
DataFrame_GDP=Data1.transpose()
DataFrame_GDP

               0         1               2
0         Europe  24425891   678496.972222
1           Asia  19139380   517280.540541
2         Africa   1820811    62786.586207
3  North America  18238447  1658040.636364
4  South America   4141217   460135.222222
5        Oceania   1662727   554242.333333

In [54]:
DataFrame_GDP.columns = ten
DataFrame_GDP

       Continent  Tổng GDP Trung bình cộng GDP
0         Europe  24425891       678496.972222
1           Asia  19139380       517280.540541
2         Africa   1820811        62786.586207
3  North America  18238447      1658040.636364
4  South America   4141217       460135.222222
5        Oceania   1662727       554242.333333